/*****Armory*****/
.armory-container {
    background-image: url("../css/images/red-tattered-bg.webp");
    background-size: 85% 100%;
    background-repeat: no-repeat;
    background-position-x: 75%;
    padding: 40px 0;
}

/***Scroll***/
.scroll-header {
    text-align: center;
    background-color: #eeeeee;
}
.scroll-header h2 {
    margin: 0;
}
.scroll-bar {
    /*display: flex;*/
    max-width: 40%;
    margin: 20px auto;
}
.scroll-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
#scroll-items {
    display: flex;
    width: 100%;
}
.scroll-element {
    text-align: center;
    width: 20%;
    padding: 8px 4px;
    background-color: #eeeeee;
    border-color: #555555;
    border-style: solid;
    border-width: 2px 1px;
}
.scroll-active {
    background-color: #cccccc;
}
.nempty h3 {
    margin: 5px 0;
}
.nempty:hover {
    cursor: pointer;
    background-color: #cccccc;
}
.elempty {
    background-color: #777777;
}
.scroll-element p {
    margin: 0;
}
.scroll-hide {
    display: none;
}
.scroll-btn {
    background-color: #eeeeee;
}

/**Header**/
.armory-header {
    display: flex;
    width: 80%;
    margin: 0 5% 0 15%;
    color: #fdf1db;
    text-shadow: 2px 2px black;
}
#armory-header-stats {
    width: 23.75%;
    text-align: center;
}
#armory-header-selector {
    display: flex;
    width: 40%;
    justify-content: center;
}
#selector-talents {
    cursor: default !important;
    color: #555555;
}
#selector-expertise {
    cursor: default !important;
    color: #555555;
}
#armory-header-selector > div {
    margin: 0 5px;
    cursor: pointer;
}
#armory-header-gear {
    width: 36.25%;
    text-align: center;
}

/***Main Content***/
.armory-content {
    display: flex;
    width: 80%;
    margin: 0 5% 0 15%;
}
.stat-block {
    display: flex;
    font-size: 1.3em;
}
.stat-block h4 {
    margin: 20px 0;
}
.stat-label {
    width: 60%;
}

/**Stat Box**/
.armory-sidebar-left {
    width: 23.75%;
    margin-top: 20px;
    color: #fdf1db;
}
.adv-stats {
    display: none;
}

/**Skin Box**/
.armory-img-box{
    text-align: center;
    width: 40%;
    color: #fdf1db;
}
#progressBar {
    width: 80%;
    margin: auto;
    height: 10px;
    background-color: white;
}
#lvProgress {
    width: 0%;
    height: 10px;
    background-color: #e00543;
}

/**Gear Box**/
.armory-sidebar-right {
    width: 36.25%;
}

.gear-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}
.gear-item {
    display: flex;
    width: calc(100% / 3);
    height: 104px;
    align-items: center;
}
.gear-blank {
    width: calc(100% / 3);
}
.gear-box {
    width: 48px;
    height: 48px;
    background-color: rgba(85, 85, 85, 0.6);
    border-style: solid;
    border-color: rgba(85, 85, 85);
    border-width: 4px;
    /*margin-bottom: 40px;*/
}
.gear-label {
    margin: 0 5px;
    text-shadow: 2px 2px black;
}
.gear-icon {
    width: 48px;
    height: 48px;
    background-size: contain;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}
.box-left {
    margin-left: 0;
    /*margin-right: auto;*/
}
.box-right {
    margin-left: auto;
    margin-right: 0;
    text-align: right;
}
.gear-tooltip {
    display: none;
    width: 200px;
    max-height: 400px;
    z-index: 1000;
    background-color: black;
    position: absolute;
    padding: 10px;
    margin: 10px;
    text-align: left;
    border-color: black;
    border-style: solid;
    border-width: 4px;
    opacity: 0;
    transition: opacity 0.4s;
}
.gear-tooltip h2, .gear-tooltip p {
    color: #fdf1db;
    margin: 0;
}
.gear-tooltip h2 {
    font-size: 1.1em;
}
.gear-tooltip p {
    font-size: 0.8em;
}
.gear-tooltip ul {
    list-style-type: none;
    color: #fdf1db;
    margin: 0;
}
.gear-tooltip li {
    font-size: 0.8em;
}
.gear-tooltip span {
    color: #fdf1db;
    font-weight: 800;
}
.armory-sidebar-right .adv-stats {
    color: #fdf1db;
    max-height: 450px;
    overflow: scroll;
}
.armory-sidebar-right .adv-stats::-webkit-scrollbar {
    display: none;
}

/* Abilities */
.ability-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}
.ability {
    display: flex;
    width: calc(100% / 3);
    height: 104px;
    justify-content: center;
    align-items: center;
}
.ability-box {
    width: 48px;
    height: 48px;
    background-color: rgba(85, 85, 85, 0.6);
    border-style: solid;
    border-color: rgba(248, 173, 29);
    border-width: 4px;
    /*margin-bottom: 40px;*/
    position: relative;
    cursor: pointer;
}
.grey-box {
    -webkit-filter: grayscale(100%) contrast(80%);
       -moz-filter: grayscale(100%) contrast(80%);
         -o-filter: grayscale(100%) contrast(80%);
        -ms-filter: grayscale(100%) contrast(80%);
            filter: grayscale(100%) contrast(80%); 
    border-color: rgba(85, 85, 85);
}
.ability-box:hover .ability-tt {
    visibility: visible;
    opacity: 1;
}
.ability-icon {
    width: 48px;
    height: 48px;
    background-size: contain;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}
.ability-tt {
    visibility: hidden;
    width: 120px;
    background-color: #555555;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    top: 120%;
    left: 50%;
    margin-left: -60px;

    opacity: 0;
    transition: opacity 0.3s;
}
.ability-tt::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555555 transparent;
}
#armory-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0); /* Black w/ opacity */
    transition: background-color 0.3s linear;

}
#modal-content {
    background-color: rgba(5, 14, 27, 0.8);
    color: #fdf1db;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}
.modal-box {
    width: 48px;
    height: 48px;
    background-color: rgba(85, 85, 85, 0.6);
    border-style: solid;
    border-color: rgba(85, 85, 85);
    border-width: 4px;
    /*margin-bottom: 40px;*/
    position: relative;
}
.modal-icon {
    width: 48px;
    height: 48px;
    background-size: contain;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}
#ability-content {
    display: flex;
}
#ability-levels {
    width: 70%;
}
.ability-block {
    margin-bottom: 20px;
}
#ability-description {
    width: 30%;
}
.anim-bar {
    height: 20px;
    width: 0%;
    border: 1px solid #e00543;
    background-color: #e00543;
    transition: width 0.3s linear;
}